main {

}

.container {
  /*background-color: lightgreen;*/
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container > div {
  display: inline-block;
}

.imgContainer {
  /*background-color: pink;*/
  width: 66%;
  height: 100%;
  /*float: left;*/
}

.infoContainer {
  /*background-color: lightyellow;*/
  width: 33%;
  height: 100%;
  float: right;
}

h1 {
  margin-top: 0;
}

.appLogo {
  width: 45px;
}
