

td {
  /*border: 1px solid blue;*/
  padding: 15px;
}

table {
  /*border: 1px dashed red;*/
  text-align: left;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.icon {
  width: 15%;
}



@media only screen and (max-width: 960px) {
  table {
    width: 90%;
  }
  .icon {
    width: 10vw;
  }
}
