
#topMain {
  margin: 8px;
  /*background-color: lightyellow;*/
  height: 340px;
  /*height: 50%;*/
}

div#myFace {
  /*background-color: pink;*/
  width: 38%;
  height: 100%;
  padding: 0px;
  float: left;
}


#topRight {
  text-align: center;
  /*background-color: lightgreen;*/
  width: 62%;
  height: 100%;
  float: right;
}


#meText {
  text-align: justify;
  width: 94%;
  margin: 3%;
  /*background-color: lightblue;*/
}

td {
  /*border: 1px solid blue;*/
  padding: 15px;
}

table {
  /*border: 1px dashed red;*/
  text-align: left;
  width: 70%;
  margin: auto;
  /*margin-top: 40px;*/
  /*margin-bottom: 80px;*/
}

.icon {
  width: 20%;
}


.contactBlock {
  width: 100%;
  height: 65px;
  /*background-color: lightblue;*/
  margin-bottom: 20px;
  margin-top: 40px;
}

.contactText {
  width: 68%;
  margin-right: 10%;
  /*background-color: gold;*/
  /*border: 1px solid black;*/
  float: right;
  padding-top: 8px;
  padding-bottom: 10px;
}


.contactIcon {
  width: 10%;
  margin-left: 5%;
  /*height: 100%;*/
  padding: 5px;
  /*background-color: turquoise;*/
  float: left;
}
